<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="login col-6">
      <h1>LogIn</h1>
      <%= render 'layouts/login_form' %>
    </div>
    <div class="col-3"></div>
  </div>
</div>
