<%= render 'layouts/header' %>


<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="main col-6" style="margin-top: 5px;">
        <h1>Create New Admin Form</h1>
        <%= render 'form', url:admin_signup_path, home_button: nil %>
    </div>
    <div class="col-3"></div>
  </div>
</div>

<%= render 'welcome/back_admin_menu' %>