
<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="main col-6" style="margin-top: 5px;">
      <h1>Create New User Form</h1>
      <%= render 'form', url: nil %>
    </div>
    <div class="col-3"></div>
  </div>
</div>




