<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    <div class="signup">
      <h1>Create New User Form</h1>
      <%= render 'form', url: nil %>
    </div>
  </div>
</div>




