<h1>List of games</h1>

<ul>
    <% @games.each do |game| %>

        <li><%= link_to game.user.username, play_game_path(game) %><br />
            <ul>
                <li><%= game.winner ? "Win" : "Loss" %></li>
                <li><%= game.score %></li>
            </ul>
        </li>

    <% end %>
</ul>