/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/

// Imports --------------------------------------------------------------------\
//@import "../../../smacss/mixins/mixins.smcs";
//-----------------------------------------------------------------------------/

/*******************************************************************************
* Default |
*********/

$header-height: 50px;



.header {
  //z-index: 1;

  height: 50px;
  width: auto;
  background-color: inherit;
  position: relative;
  display: block;
  //box-shadow: 0 3px 7px rgba(black, 0.3);
  padding: 4px;
  color: #212121;
  text-align: left;

  h4 {
    //padding: 8px;
    font-family: Ubuntu;
    padding: 7px 0;
    //position: inline;
  }

  i {
    background-color: transparent;
    padding-top: 5px;
    //border-radius: 6px;
    //border: 2px solid white;
    cursor: pointer;
  }
}


.nav {
  height: 50px;
  //background-color: lightblue;

  li {
    padding:0;
    margin:0;
  }

  a {
    padding:0 5px;
    margin: 0;
  }
}

.nav .nav-item {
  //padding-top: 20px;
}

.header .navbar-toggler {
  float: left !important;
  padding-top: 7px;
}

// FIXME: Temp Location setup
@import url('https://fonts.googleapis.com/css?family=Baloo');

.header_-_logo {
  float: left;
  padding-top: 8px;
  cursor: pointer;
  text-shadow: 0 3px 2px rgba(#000, 0.2);
  position: relative;
  display: inline-block;
  left: 30px;

  img {
    top: 22px;
    left: 32px;
    position: absolute;
    filter: drop-shadow(0 3px 2px rgba(#000, 0.25));
  }

  h2 {
    float: left;

    &:last-child {
      padding-left: 23px;
    }
  }

  h6 {
    float: left;
    font-size: 0.6rem;
  }
}


.header_-_sidebar-btn {
  //text-align: right;
  display: inline;
  position: relative;
}

.header_-_search-bar {
  background-color: #F5F5F5;
  //height: $header-height - 8px;
  height: $header-height - 15px;
  border-radius: 8px;
  position: relative;
  margin-top: 3px;
  margin-left: -13px;

  //padding-bottom: 10px
  //padding: 0;
  //margin: 0;
  i, mat-form-field {
    //float: left;
    display: inline-block;
  }

  //i {
  //  left: -10px;
  //}

  //input{
  //  left: 30px;
  //  margin-left: 30px;
  //}



  mat-form-field {
    //position: absolute;
    //padding: 0 !important;
    margin-top: -0.7em;
    //top: 0;
    //left: 0;
    //margin-bottom: 10px;
    width: 90%;
    margin-left: 15px;
    //background-color: lightgoldenrodyellow;
    height: $header-height - 15px;
    //line-height: 0.5em;
    //border: none;

  }

  //matInput {
  //  padding-bottom: 20px;
  //}

  //input matInput{
  //  padding: 0;
  //  margin: 0;
  //  line-height: 0.5em;
  //  background-color: lightgoldenrodyellow;
  //}
}

//.nav {
//  background-color: lightcoral;
//}

.header_-_create-card,
.header_-_save-all-tabs {
  //background: lightsteelblue;
  //width: 200px;
  display: inline;
  //cursor: pointer;
  //float: right;
  text-align: right;
  //padding: 7px;
  padding-right: 15px !important;
  padding-top: 22px;

  //padding-left: 50px !important;
  //padding-right: 50px;
  //margin-left: 55px;
  //margin-right: 55px;
  //padding-left: 15px;
  cursor: pointer;
  //background-color: lightcoral;

  i {
    position: absolute;
    //left: -1px;
    top: 15px;
    //bottom: 0;
    padding: 0;
    //margin: 0 !important;
    //text-align: left;
    //background-color: lightgoldenrodyellow;
    height: 14px;
    //width: auto;
  }


  h6 {
    padding:13px 8px 0 0;
    display: inline-block;

    //float: left;
  }



  h6 {
    //display: none;
    //background: lightyellow;
  }
}
.header_-_create-card {
  width: 200px;

  i {
    left: -3px;
  }
}

.header_-_save-all-tabs {
  width: 170px;

  i {
    left: 2px;
  }
}

.header_-_config {
  //padding-top: 5px !important;

  a {
    padding-top: 3px;
    padding-bottom: 2px;
  }

  i {
    //padding-bottom: 5px;

  }
}

.header_-_return-btn {
  display: inline-block;
  //margin: auto;
  cursor: pointer;
  padding-top: 7px;


  i {
    float: left;
  }

  i, h4 {
    display: inline;
    margin:0 5px;
  }
}





// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------

.header i:hover {
  //color: blue;
  //background-color: white;
}

.header .nav-item:hover {
  //background-color: #42a5f5;
}

.header_-_return-btn:hover {
  //background-color: red;
  //transition: background-color .5s ease-in-out;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.fa-spin-hover {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

//.fa-spin-hover:hover
//{    -webkit-transform: rotate(350deg);
//  -webkit-transition: -webkit-transform 0.25s ease-in-out;}
// Layouts ---------------------------------------------------------------------


// Bootstrap Overrides ---------------------------------------------------------

.navbar {
  height: 50px;
}

// Responsive Screen Sizes -----------------------------------------------------


// Resizing header search bar ---------
@media (max-width: 1200px) {
  .header_-_search-bar mat-form-field {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .header_-_search-bar mat-form-field {
    width: 65%;
  }
}
// --------------------------------------

/*******************************************************************************
* XS |
****/

//@include mq('xs') {
//
//}


/*******************************************************************************
* SM |
****/

//@include mq('sm') {
//
//}


/*******************************************************************************
* MD |
****/

//@include mq('md') {
//
//}


/*******************************************************************************
* LG |
****/

//@include mq('lg') {
//
//}

