/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/

// Imports --------------------------------------------------------------------\
//@import "../../../smacss/mixins/mixins.smcs";
//-----------------------------------------------------------------------------/

/*******************************************************************************
* Default |
*********/


//body {
//  background-color: #e3f2fd;
//  font-family: Ubuntu;
//}

.main {
  //margin-top: 150px;
  margin-top: 7% !important;
  margin-bottom: 5%;
  background-color: #3d5afe;
  position: relative;
  border-radius: 12px;
  //height: 440px;
  height: auto;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.45);
  color: white;
  text-align: center;

  h1 {
    margin: 0.8rem 0;
  }

  h5 {
    margin-bottom: 2rem;
  }

  a {
    color: inherit;
    opacity: 80%;
  }
}

.main_-_form {
  //background-color: red;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 30px;
  //position: absolute;

  // Body Properties
  input[type=text],
  input[type=password],
  input[type=submit] {
    width: 350px;
    height: 63px;
    border-radius: 10px;
    margin: 10px 0;
    border: 0;
    font-size: 36px;
  }

  // Textbox Style
  input[type=text],
  input[type=password] {
    box-shadow: inset 0 3px 7px 0 rgba(0, 0, 0, 0.35);
    background-color: #eee;
    position: relative;
    color: #424242;
    padding-left: 10px;

    &::placeholder {
      font-size: 36px;
      font-weight: 500;
      color: #9e9e9e;
    }
  }

  //Submit Button Style
  input[type=submit] {
    background-color: #ff9100;
    box-shadow: 0 5px 0 #ff6600;
    margin: 20px auto;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    color: #eeeeee;
  }
}

.main_-_form_--_minimized {
  input[type=text],
  input[type=password],
  input[type=submit] {
    width: 350px;
    //height: 63px;
    height: 50px;
    //border-radius: 10px;
    margin: 10px 0;
    //border: 0;
  }
}

.main_-_form_--_warning,
.main_-_form_--_notification {
  padding: 0;
  margin: 0;

  ul {
    width: 350px;
    background-color: #E44C26;
    border-radius: 10px;
    color: white;
    list-style-type: none;
  }

  li {
    text-align: left;
    padding-left: 20px;
  }
}

.main_-_form_--_warning ul {
  background-color: #E44C26;
}

.main_-_form_--_notification {
  ul {
    background-color: #43A047;
  }

  li {
    padding-left: 33px;
  }
}

.main_-_buttons {
  margin-bottom: 1rem;
}

//input[type=checkbox] {
//  width: 350px;
//  height: 63px;
//  border-radius: 10px;
//  border: 0;
//  font-size: 3rem;
//
//  background-color: #ff9100;
//  box-shadow: 0 5px 0 #ff6600;
//  margin: 20px auto;
//  font-size: 36px;
//  font-weight: 500;
//  text-align: center;
//  color: #eeeeee;
//}

input[type=submit] {
  width: 350px;
  height: 63px;
  border-radius: 10px;
  //margin: 10px 0;
  border: 0;
  font-size: 36px;

  background-color: #ff9100;
  box-shadow: 0 5px 0 #ff6600;
  margin: 20px auto;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  color: #eeeeee;
}

// Animation -------------------------------------------------------------------

.login {
  transition: width 1s, height 1s, margin 1s;
}

// Active ----------------------------------------------------------------------

//.login_-_form input[type=submit] {
//  transition: All 120ms ease;
//}
//
//.login_-_form input[type=submit]:active {
//  bottom: 5px;
//  transition: All 120ms ease;
//  box-shadow: none;
//}

// Hover -----------------------------------------------------------------------

// Layouts ---------------------------------------------------------------------

// Bootstrap Overrides ---------------------------------------------------------

// Responsive Screen Sizes -----------------------------------------------------

/*******************************************************************************
* XS |
****/

//@include mq('xs') {
//
//}


/*******************************************************************************
* SM |
****/

//@include mq('sm') {
//
//}


/*******************************************************************************
* MD |
****/

//@include mq('md') {
//
//}


/*******************************************************************************
* LG |
****/

//@include mq('lg') {
//
//}
