/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/

// Imports --------------------------------------------------------------------\
//@import "../../../smacss/mixins/mixins.smcs";
//-----------------------------------------------------------------------------/

/*******************************************************************************
* Default |
*********/

.play {
  margin-top: 5%;
  position: relative;
}

.play_-_lives {
  display: inline;
  //background-color: green;

  i {
    position: relative;
    color: #d50000;
    font-size: 1.5rem;
    display: inline;
  }
}

.play_-_score {
  text-align: right;
  color: white;
  display: inline;
  //background-color: blue;
  font-size: 1.5rem;
  height: 60px;
}

.play_-_score_--_body {
  position: absolute;
  right: 0;
  top: -15px;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: #424242;
  float: right;

  i, h4{
    position: absolute;
  }

  i {
    top: 15px;
    left: 10px;
  }

  h4 {
    right: 35px;
    bottom: 2px;
  }
}


.play_-_image {
  //height: 100%;
  //position: relative;
      // max-width: 100%;
  .img_container0 {
    img {
      max-width: 100%;
      height: auto;  
      border-radius: 10px;
    }
    max-height: 10%;
    overflow: hidden;
  }
  .img_container100 {
    img {
      max-width: 100%;
      height: auto;  
      border-radius: 10px;
    }

    max-height: 20%;
    overflow: hidden;
  }

  .img_container200 {
    img {
      max-width: 100%;
      height: auto;  
      border-radius: 10px;
    }

    max-height: 30%;
    overflow: hidden;
  }

  .img_container300 {
    img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }

    max-height: 40%;
    overflow: hidden;
  }

  .img_container400 {
    img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }

    max-height: 50%;
    overflow: hidden;
  }

  .img_container500 {
    img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }

    max-height: 60%;
    overflow: hidden;
  }

  .img_container600 {
    img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }

    max-height: 70%;
    overflow: hidden;
  }

  .img_container700 {
    img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }

    max-height: 80%;
    overflow: hidden;
  }

  .img_container800 {
    img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }

    max-height: 90%;
    overflow: hidden;
  }

  .img_container900 {
    img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }
    max-height: 100%;
    overflow: hidden;
  }

  .img_container {
    img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    }
  }





}

.play_-_question {
  margin: 2rem 0;
  text-align: center;
}

.play_-_selections {
  //background-color: green;
  height: auto;
}

.play_-_selections_--_select {
  //width: 254px;
  input[type=submit] {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.47);
    background-color: #3d5afe;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    border: none;
  }

  h3 {
    position: absolute;
    top: 20px;
    left: 34px;
    color: #070000;
    z-index: 1;
    font-size: 2rem;
  }

  &::after {
    content: '';
    color: #070000;
    position: absolute;
    top: 15px;
    left: 20px;
    width: 52px;
    height: 51px;
    border-radius: 26px;
    box-shadow: inset 0px 3px 7px 0 rgba(0, 0, 0, 0.13);
    background-color: #eeeeee;
  }
}

.play_-_guess {
  text-align: center;
  //background-color: yellow;
  height: auto;
  position: relative;

  input[type=text] {
    //width: 350px;
    height: 63px;
    //border-radius: 10px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 0;
    font-size: 1.8rem;
    box-shadow: inset 0 3px 7px 0 rgba(0, 0, 0, 0.35);
    //width: 541px;
    //height: 71px;
    border-radius: 35.5px;
    //background-color: #bdbdbd;
    padding-left: 1rem;
  }

  input[type=submit]  {
    font-family: FontAwesome;
    //content: "\f128";
    color: white;
    position: absolute;
    top: 52px;
    right: 64px;
    //width: 52px;
    //height: 51px;
    //padding-top: 0.3rem;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.33);
    font-size: 5rem;

    width: 55px;
    height: 55px;
    border-radius: 27.5px;
    background-color: #F44336;
    //display: inline;
    //background-color: #eb1616;
  }

  i {
    font-size: 2rem;
    position: absolute;
    top: 63px;
    right: 79px;
    opacity: 95%;
    color: white;
    cursor: pointer;
    pointer-events:none;
  }
}

.play_-_blocks {
  background-color: red;
  height: inherit;
  width: inherit;
  //padding: inherit;
  //margin: inherit;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 70%;

  $class-slug: play_-_blocks_--_ !default;

  .play_-_blocks_--_1{
    //background-color: black;
    height: 20px;
    width: calc(100% / 4);
    position: relative;
    top: 0;
    left: 0;

    //position: abso;
  }

  @for $i from 1 through 4 {
    $width: percentage(1 / $i);

    .col-#{$i} {
        width: $width;
    }
  }

  //@for $i from 1 through 4
  //  .#{$class-slug}-#{$i}
  //  //width: 60px + $i
  //  width: calc(100% / 4);
  //  height: 10px;


}







// Animation -------------------------------------------------------------------

// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------

// Layouts ---------------------------------------------------------------------

// Bootstrap Overrides ---------------------------------------------------------

// Responsive Screen Sizes -----------------------------------------------------

/*******************************************************************************
* XS |
****/

//@include mq('xs') {
//
//}


/*******************************************************************************
* SM |
****/

//@include mq('sm') {
//
//}


/*******************************************************************************
* MD |
****/

//@include mq('md') {
//
//}


/*******************************************************************************
* LG |
****/

//@include mq('lg') {
//
//}

