
<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="header_-_logo">
        <h1>Tr  </h1>
        <%= image_tag("ruby_asset.png", :alt => "ruby") %>
        <h1>  bya</h1>
      </div>
      <div class="col-10">
      </div>
      </div>
      </div>
    </div>
  </div>
</header>
