
<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="header_-_logo">
        <h2>Tr  </h2>
        <%= image_tag("ruby_asset.png", :alt => "ruby") %>
        <h2>  bya</h2>
      </div>
      <div class="col-10"></div>
    </div>
  </div>
</header>
